.container_address_data{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    align-items: center;
    .address_container{
        margin: 15px 0px;
        width: 30%;
        justify-content: space-around;
        z-index: 900;
        background-color: rgb(10, 44, 9);
        color: aqua;
        text-align: center;
        padding: 5px;
        border-radius: 25px;
    }
    .address_container_select{
        background-color: rgba(33, 6, 189, 0.74);
    }
}