.container_address_data{
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .address_container{
        margin: 15px 0px;
        width: 30%;
        justify-content: space-around;
        z-index: 900;
        background-color: rgb(10, 44, 9);
        color: aqua;
        text-align: center;
        padding: 5px;
        border-radius: 25px;
    }
}